@import "./global";

.home {
    position: relative;
    padding: 30px 0 148px 0;
    background-color: $bg-color_gray;
}

.hero {
    max-height: 800px;
    margin: 0 0 0 9vw;
    padding: 0 0 0 14.2vw;
    position: relative;
    border-radius: 0 0 0 200px;
    color: #fff;
    background-color: $bg-color_blue;
}

.nav {
    position: relative;
    margin: 0 5.1vw 0 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 120px;

    a {
        line-height: 120px;
        color: #fff;
        text-decoration: none;
        white-space: nowrap;
    }
}

.nav__logo-container {
    padding-right: 4.9vw;
}

.nav__logo {
    text-align: start;
    font-weight: 400;
    font-size: 32px;

}

.nav__item_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__item {
    padding: 0 .6vw;
}

.nav__hire-container {
    padding-left: 19.8vw;
}

.nav__item_element,
.nav__hire-us {

    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.nav__hire-us::after {
    content: "";
    position: relative;
    bottom: 38px;
    display: block;
    height: 2px;
    background: $purple-color;
}

.hero__body {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.hero__content-wraper {
    padding: 120px 0 205px;
    max-width: 362px;
    display: flex;
    flex-direction: column;

}

.hero__title {
    padding-bottom: 32px;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
}

.hero__suptitle {
    font-family: $open-font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    padding-bottom: 83px;
}

.hero__slider {
    position: relative;
    width: 542px;
    height: 680px;

    .slider__item {
        position: absolute;
        border-radius: 200px 0 0 0;
        width: 542px;
        height: 680px;
        overflow: hidden;

    }

    .slider__arrow {
        position: absolute;
        bottom: 66px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #fff;


        &-right {
            left: 88px;
        }

        &-left {
            left: 48px;
            z-index: 1;
        }


        .slider__arrow-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            transform: translateY(100%);
        }

    }

    .slick-slide {
        outline: none;
    }
}

.slider__img {
    width: 100%;
    height: 100%;
}

.slider__title {
    position: absolute;
    left: 144px;
    bottom: 96px;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;

}

.slider__sup-title {
    position: absolute;
    left: 144px;
    bottom: 48px;
    font-family: $open-font;
    font-size: 14px;
    line-height: 140%;
}

.about-us {
    margin: 118px 423px 0;

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 150%;
        color: $title-blue_color;
        padding-bottom: 16px;
    }

    &__desc {
        max-width: 754px;
        font-family: $open-font;
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        color: $article_color;
    }
}


//*************************************************************************************************
.expertise-wrapper {
    padding: 128px 0 155px;
    margin: 0 calc(50% -600px) 0;

}

.expertise__title-wrapper {
    text-align: center;
}

.expertise__title {
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: $title-blue_color;
}

.expertise__item-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;

}

.expertise__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 264px;
}

.expertise__img-wrapper {
    margin: 0 auto;
    width: 166px;
    height: 166px;
    border-radius: 24px;
    overflow: hidden;
}

.expertise__suptitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: $title-blue_color;
    padding: 40px 0 16px;
}

.expertise__article {
    font-size: 14px;
    line-height: 150%;
    font-family: $open-font;
    color: $article_color;
}

// *****************************************************************

.process {
    background-color: $bg-color_gray;
    padding: 148px 0 44px;
    display: flex;
    justify-content: space-around;
}

.process__desc-wrapper {
    margin: 0 calc(50% -600px) 0;
    display: flex;
    flex-direction: column;
}

.process__title {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $title-gray_color;
}

.process__suptitle {
    max-width: 362px;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: $title-blue_color;
    padding: 16px 0 24px;

}

.process__article {
    max-width: 362px;
    font-size: 14px;
    line-height: 150%;
    font-family: $open-font;
    color: $article_color;
    white-space: pre-line;

}

.process__card-wrapper {
    max-width: 50%;
    display: flex;
    position: relative;

    .down-grope {
        margin-right: 30px;
        position: relative;
        top: 132px;
    }
}

.process__card-wrapper-grope :first-child {
    margin-bottom: 30px;
}

.process__card {
    position: relative;
    width: 264px;
    height: 264px;
    background: #FFFFFF;
    box-shadow: 0px 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 24px;


}

.process__card {
    z-index: 2;

    &_first {
        .process__card-number {
            background-color: rgba($card-blue_color, .1);
            color: $card-blue_color;
        }

        .process__card-button {
            background-color: $card-blue_color;
        }
    }

    &_second {
        .process__card-number {
            background-color: rgba($card-yelow_color, .1);
            color: $card-yelow_color;
        }

        .process__card-button {
            background-color: $card-yelow_color;
        }
    }

    &_thert {
        .process__card-number {
            background-color: rgba($card-green_color, .1);
            color: $card-green_color;
        }

        .process__card-button {
            background-color: $card-green_color;
        }
    }

    &_fourt {
        .process__card-number {
            background-color: rgba($card-red_color, .1);
            color: $card-red_color;
        }

        .process__card-button {
            background-color: $card-red_color;
        }
    }
}

.process__card-number {
    position: absolute;
    top: 32px;
    left: 32px;
    display: flex;
    width: 46px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 23px;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    font-display: auto;
    align-items: center;
    justify-content: center;
}

.process__card-desc {
    position: absolute;
    top: 80px;
    left: 32px;
    width: 60px;
    font-family: $open-font;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: $article_color;
    white-space: nowrap;
}

.process__card-button {
    border: none;
    outline: none;
    position: absolute;
    bottom: 32px;
    left: 32px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    transition: .4s;

    .process__card-img {
        margin: auto;
        transform: translateY(2px);
    }

    &:hover {
        transform: scale(1.1);
        box-shadow: 3px 3px 20px -4px rgba(0, 0, 4, .4);

    }


}

.process__card-more {
    position: absolute;
    bottom: 41px;
    left: 88px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: $title-blue_color;
}

// *****************************************************************************

.approach {
    background-color: $bg-color_gray;
    padding-left: 7.56vw;
}

.approach__hero {
    position: relative;
    background-color: $purple-color;
    padding: 204px;
    color: #fff;
    border-radius: 200px 0 0 200px;
    display: flex;
    justify-content: start;
    z-index: 1;

    &-title {
        font-weight: bold;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding-bottom: 16px;
    }

    &-suptitle {
        font-weight: 600;
        font-size: 32px;
        line-height: 150%;
    }
}

.approach__hero-content {
    display: flex;
    flex-direction: column;
    max-width: 362px;

}

.approach__hero-item {
    display: flex;
    padding: 32px 0;
}

.item__image {
    margin: auto 34px auto 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__article {
    font-size: 15px;
    line-height: 150%;
    font-family: $open-font;
    max-width: 264px;
}

.approach__hero-image {
    width: 42.9vw;
    height: 42.5vw;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 200px 0 0;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }
}

// ****************************************************************************************

.testimonials {
    display: flex;
    flex-direction: column;
    background-color: $bg-color_gray;

    padding: 148px 0 168px;
    padding-left: calc(50% - 540px);
    padding-right: calc(50% - 540px);
}

.test__svg {
    svg {
        fill: $card-blue_color;
    }
}

.testimonials__title {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $title-gray_color;
}

.testimonials__suptitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: $title-blue_color;
    margin: 16px 0 85px;
}

.testimonials__card-wrapper {
    display: flex;
    justify-content: space-between;

    :last-child() {
        margin-right: 5px;
    }
}

.testimonials__card {
    position: relative;
    width: 314px;
    height: 494px;
    padding: 338px 2vw 32px;
    box-shadow: 0px 9px 18px rgba(37, 41, 49, 0.03);
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;

    &_first {
        .elips-decor {
            background-color: $card-blue_color;
        }
    }

    &_second {
        .elips-decor {
            background-color: $card-yelow_color;
        }
    }

    &_therd {
        .elips-decor {
            background-color: $card-red_color;
        }
    }
}


.elips-decor {
    position: absolute;
    width: 56px;
    height: 139px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 500px;
    transform: rotate(35deg);
    z-index: 1;
}

.elips-decor_first {
    top: 30px;
    left: 85px;
}

.elips-decor_second {
    top: 139px;
    right: 85px;
}

.testimonials__card-photo {
    position: absolute;
    top: 87px;
    left: 87px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;

}

.testimonials__card-quotes {
    position: absolute;
    left: 147px;
    top: 309px;
    width: 20px;
    height: 18px;
}

.testimonials__card-descripton {
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    font-family: $open-font;
    color: $article_color;
}

.testimonials__card-name {
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    font-family: $open-font;
    color: $title-blue_color;
    padding: 16px 0 4px;
}

.testimonials__card-company {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $title-gray_color;
}

// *********************************************************************

.concept {
    background-color: #fff;
    padding: 72px 67px 72px 82px;


}

.concept__wrapper {
    padding: 199px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-size: 100% 100%;
}

.concept__title {
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: $title-blue_color;
}

.concept__article {
    margin: 0 auto;
    display: inline-block;
    max-width: 754px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    font-family: $open-font;
    color: $title-gray_color;
    padding: 24px 0 64px;
}

.concept__btn_position {
    margin: 0 auto;
}

// ************************************************************

.contacts {
    background-color: $bg-color_blue;
    padding: 180px 0 84px;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    border-radius: 0 200px 0 0;
    color: #fff;

}

.contacts_wrapper {
    max-width: 1048px;
    margin: 0 98px 121px 0;
    display: flex;
    justify-content: space-around;
}

.contacts__send-massage {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contacts__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    padding-bottom: 56px;
}

.contacts__input {
    padding-bottom: 66px;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: $bg-color_blue;
    width: 460px;

    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.7;


    &::-webkit-input-placeholder {
        color: #fff;
    }

    &:focus {
        opacity: 1;

        &:after {
            opacity: 1;
        }
    }


}

.contacts__input-wraper:after {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 3px;
    content: "";
    height: 2px;
    background: #fff;
    position: relative;
    bottom: 61px;
    opacity: 0.7;

}

.contacts__btn_pos {
    margin-top: 32px;

}

.contacts__suptitle {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.5;
}

.contact__item {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    font-family: $open-font;
    margin: 9px 0 48px;
}

.img-arrownd {
    padding-top: 8px;
    max-width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_footer {
    margin: 0;
}

.nav__logo-container {
    padding: 0;
    margin: 0 28.8vw 0 15px;
}